html {
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body, html {
	width: 100%;
	height 100%;
	overflow: hidden;
}

body {
	font-size: 3vh;
	font-family: Monospace;
	color: #000;
	background: #fff;
	line-height: 1;
}

a {
	text-decoration: none;
	color: #00f;
}

h1 {
	font-size: 3em;
	margin: 0.25em 0;
}

h2 {
	font-size: 1.75em;
	margin: 0.25em 0;
}

h3 {
	font-size: 1.25em;
	margin: 0.25em 0;
}

h1, h2, h2 {
	font-weight: normal;
}

p {
	font-size: 2em;
}

ul {
	list-style-position: inside;
	font-size: 5vh;
	margin: 2vh 0;
}

ul ul {
	padding-left: 3vw;
}

nav {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 2vh;
	height: 2vh;
	background: #ddd;
}

section {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1vh 1vw;
	background: #fff;
}

section.active {
	visibility: visible;
}

section.intro {
	background: #efefef;
	display: flex;
	flex-flow: column;
	justify-content: center;
	font-size: 1.5em;
}

section.splash {
	font-size: 1.25em;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

section.warning {
	background: #ff0;
}

section.background-image {
	background-repeat: no-repeat;
	background-size: cover;
}

section.background-image > * {
	background: rgba(255, 255, 255, 0.7);
	color: #000;
	text-shadow: 1px 1px 0px #fff;
	padding: 0.1rem;
}


section.two-columns {
	display: flex;
	flex-flow: row;
}

section.two-columns > * {
	flex-grow: 1;
	width: 50%;
}

section.two-columns > div {
	display: flex;
}

section.two-columns > div > * {
	width: 100%;
	height: 100%;
}

section.two-rows {
	display: flex;
	flex-flow: column;
}

section.two-rows > * {
	flex-grow: 1;
	height: 50%;
}

section.two-rows > div {
	display: flex;
}

section.two-rows > div > * {
	width: 100%;
	height: 100%;
}

section.fullscreen-demo {
	display: flex;
	background: #000;
}

section.fullscreen-demo > div {
	width: 100%;
	height: 100%;
	flex: auto;
	padding: 1rem;
}

section.fullscreen-demo > div iframe {
	width: 100%;
	height: 100%;
}

/* Not interested in Prism's stylistic choices with regards to code blocks */
pre[class*="language-"] {
	margin: 0;
	border-radius: 0;
}

iframe {
	border: none;
}

ins {
	color: green;
	text-decoration: none;
}

img {
	max-width: 80%;
	height: auto;
	max-height: 70%;
}

tt {
	font-weight: bold;
}

.fragment {
	opacity: 0.02;
	transition: opacity 0.2s ease-in;
}

.fragment.visible {
	opacity: 1;
}
