html {
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body, html {
	width: 100%;
	height 100%;
	overflow: hidden;
}

video {
	max-height: 240px;
	max-width: 320px;
}

canvas {
	background: #efefef;
}

button {
	font-size: 20vh;
}
